/* Primary */
/* Neutral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
}

.main-container {
  width: fit-content;
  height: 100vh;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 10px 10px 69px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 69px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 69px 0px rgba(0, 0, 0, 0.75);
  }
}
h1 {
  color: hsl(0, 0%, 100%);
}

.result-graph {
  height: 40vh;
  background-color: hsl(234, 85%, 45%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (min-width: 768px) {
  .result-graph {
    height: 100%;
    border-radius: 30px;
  }
}
.button {
  min-height: 15vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border-style: none;
  background: linear-gradient(1800deg, hsla(241, 72%, 46%, 0), hsl(256, 72%, 46%));
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 800;
  font-size: 48px;
  color: hsl(0, 0%, 100%);
  padding: 20px;
}

@media (min-width: 768px) {
  .button {
    min-height: 25vh;
  }
}
.button span {
  font-size: 14px;
  color: hsl(241, 100%, 89%);
  display: block;
  margin-bottom: 1em;
}

.result-graph p,
h2 {
  color: hsl(241, 100%, 89%);
}

.result-graph h2 {
  font-size: 20px;
}

.result-graph p {
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .result-graph p {
    width: 50%;
    margin-bottom: initial;
  }
}
.summary {
  height: 60vh;
  display: grid;
  padding: 35px;
  gap: 30px;
}

.summary h2 {
  color: hsl(224, 30%, 27%);
}

@media (min-width: 768px) {
  .summary {
    gap: 15px;
  }
  .summary h2 {
    margin-top: 20px;
  }
}
.stat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  border-radius: 10px;
  gap: 15px;
}

.stat h3:last-child {
  flex-grow: 1;
  text-align: end;
}

.stat span {
  color: hsl(224, 30%, 27%);
}

.reaction-container {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}

.memory-container {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.1);
}

.verbal-container {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.1);
}

.visual-container {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.1);
}

.continue-button {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 700;
  padding: 15px;
  border-radius: 25px;
  border-style: none;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
